[submodule "Library/GLFW"]
	path = Library/GLFW
	url = https://github.com/SeanMott/GLFW.git
[submodule "Library/GLAD"]
	path = Library/GLAD
	url = https://github.com/SeanMott/GLAD.git
[submodule "Library/imgui"]
	path = Library/imgui
	url = https://github.com/SeanMott/imgui.git
[submodule "Library/entt"]
	path = Library/entt
	url = https://github.com/SeanMott/entt.git
[submodule "Library/glm"]
	path = Library/glm
	url = https://github.com/SeanMott/glm.git
[submodule "Library/FastDelegate"]
	path = Library/FastDelegate
	url = https://github.com/SeanMott/FastDelegate.git
[submodule "Library/stbHeaders"]
	path = Library/stbHeaders
	url = https://github.com/SeanMott/stbHeaders.git
